/* line 21, ../compass/sass/style.scss */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sweet Buttermilk Sans Free';
    src: url('../../../fonts/Fonts/Sweet\ Buttermilk\ Sans\ Free.ttf');
    font-style: normal;
    font-weight: 400;
}

body,
html {
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* line 29, ../compass/sass/style.scss */


/* line 36, ../compass/sass/style.scss */


/* line 40, ../compass/sass/style.scss */

svg {
    display: block;
    overflow: visible;
}


/* line 45, ../compass/sass/style.scss */

.slider-container {
    position: relative;
    height: 100%;
    user-select: none;
    cursor: all-scroll;
}


/* line 52, ../compass/sass/style.scss */

.slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
}


/* line 61, ../compass/sass/style.scss */

.slider-control.inactive:hover {
    cursor: auto;
}


/* line 64, ../compass/sass/style.scss */

.slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
}


/* line 68, ../compass/sass/style.scss */

.slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}


/* line 72, ../compass/sass/style.scss */

.slider-control.right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}


/* line 78, ../compass/sass/style.scss */

.slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
}


/* line 86, ../compass/sass/style.scss */

.slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}


/* line 96, ../compass/sass/style.scss */

.slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
}


/* line 108, ../compass/sass/style.scss */

.slider-pagi__elem.active:before,
.slider-pagi__elem:hover:before {
    transform: translate(-50%, -50%) scale(1);
}


/* line 115, ../compass/sass/style.scss */

.slider {
    z-index: 1;
    position: relative;
    height: 100%;
}


/* line 119, ../compass/sass/style.scss */

.slider.animating {
    transition: transform 0.5s;
    will-change: transform;
}


/* line 122, ../compass/sass/style.scss */

.slider.animating .slide__bg {
    transition: transform 0.5s;
    will-change: transform;
}


/* line 129, ../compass/sass/style.scss */

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* line 136, ../compass/sass/style.scss */

.slide.active .slide__overlay,
.slide.active .slide__text {
    opacity: 1;
    transform: translateX(0);
}


/* line 142, ../compass/sass/style.scss */

.slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
}


/* line 151, ../compass/sass/style.scss */

.slide:nth-child(1) {
    left: 0;
}


/* line 153, ../compass/sass/style.scss */

.slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("../../../img/senad.jpg");
}


/* line 157, ../compass/sass/style.scss */

.slide:nth-child(1) .slide__overlay-path {
    fill: #602020;
}

@media (max-width: 991px) {
    /* line 161, ../compass/sass/style.scss */
    .slide:nth-child(1) .slide__text {
        background-color: rgba(233, 156, 126, 0.8);
    }
}


/* line 166, ../compass/sass/style.scss */

.slide:nth-child(2) {
    left: 100%;
}


/* line 168, ../compass/sass/style.scss */

.slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("../../../img/gallery/aminaadin.jpg");
}


/* line 172, ../compass/sass/style.scss */

.slide:nth-child(2) .slide__overlay-path {
    fill: #ffa31a;
}

@media (max-width: 991px) {
    /* line 176, ../compass/sass/style.scss */
    .slide:nth-child(2) .slide__text {
        background-color: rgba(250, 234, 212, 0.8);
    }
}


/* line 181, ../compass/sass/style.scss */

.slide:nth-child(3) {
    left: 200%;
}


/* line 183, ../compass/sass/style.scss */

.slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("../../../img/gallery/zorjana.jpg");
}


/* line 187, ../compass/sass/style.scss */

.slide:nth-child(3) .slide__overlay-path {
    fill: black;
}

@media (max-width: 991px) {
    /* line 191, ../compass/sass/style.scss */
    .slide:nth-child(3) .slide__text {
        background-color: rgba(173, 197, 205, 0.8);
    }
}


/* line 196, ../compass/sass/style.scss */

.slide:nth-child(4) {
    left: 300%;
}


/* line 198, ../compass/sass/style.scss */

.slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}


/* line 202, ../compass/sass/style.scss */

.slide:nth-child(4) .slide__overlay-path {
    fill: #cbc6c3;
}

@media (max-width: 991px) {
    /* line 206, ../compass/sass/style.scss */
    .slide:nth-child(4) .slide__text {
        background-color: rgba(203, 198, 195, 0.8);
    }
}


/* line 211, ../compass/sass/style.scss */

.slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* line 218, ../compass/sass/style.scss */

.slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

@media (max-width: 991px) {
    /* line 218, ../compass/sass/style.scss */
    .slide__overlay {
        display: none;
    }
}


/* line 231, ../compass/sass/style.scss */

.slide__overlay path {
    opacity: 0.8;
}


/* line 235, ../compass/sass/style.scss */

.slide__text {
    position: absolute;
    width: 25%;
    bottom: 15%;
    left: 12%;
    color: #fff;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-50%);
    opacity: 0;
}

@media (max-width: 991px) {
    /* line 235, ../compass/sass/style.scss */
    .slide__text {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20rem;
        text-align: center;
        transform: translateY(50%);
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        padding: 0 1rem;
    }
}


/* line 255, ../compass/sass/style.scss */

.slide__text-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
}

@media (max-width: 991px) {
    /* line 255, ../compass/sass/style.scss */
    .slide__text-heading {
        line-height: 20rem;
        font-size: 3.5rem;
    }
}


/* line 264, ../compass/sass/style.scss */

.slide__text-desc {
    font-size: 1.8rem;
    margin-bottom: 16.5rem;
    color: #cccccc;
}

@media (max-width: 991px) {
    /* line 264, ../compass/sass/style.scss */
    .slide__text-desc {
        display: none;
    }
}


/* line 272, ../compass/sass/style.scss */

.slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2.3rem;
    perspective: 1000px;
}

@media (max-width: 991px) {
    /* line 272, ../compass/sass/style.scss */
    .slide__text-link {
        display: none;
    }
}


/* line 284, ../compass/sass/style.scss */

.slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: 50% 100%;
    transform: rotateX(-85deg);
    transition: transform 0.3s;
    will-change: transform;
}


/* line 298, ../compass/sass/style.scss */

.slide__text-link:hover:before {
    transform: rotateX(0);
}